<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details Form</title>
    <link rel="stylesheet" href="styles.css">
    <style></style>
</head>
<body>
    <div class="form-container">
        <h2>Student Details</h2>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="roll">Roll Number</label>
                <input type="text" id="roll" name="roll" required>
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="class">Class</label>
                <input type="text" id="class" name="class" required>
            </div>
            <div class="form-group">
                <label for="section">Section</label>
                <input type="text" id="section" name="section" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>



<div class="container" id="add-post">
    <h1>Add a New Post</h1>
    <form id="post-form" action='add_post' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" name="title" required>
        </div>

        <div class="form-group">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" id="img" class="form-control" name="img" accept="image/*" required>
        </div>

        <div class="form-group">
            <label for="body" class="form-label">Post Body</label>
            <textarea id="body" class="form-control" name="body" rows="5" required></textarea>
        </div>

        <button type="submit" class="btn">Submit Post</button>
    </form>
</div>
