{% extends "user_pages/base.html" %}
{% load static %}
{% block style %}
.left ul:first-child {
margin-top: 20px;
}
.message {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  flex-grow: 1;
  padding: 0 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  height: 50px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  max-width: 300px;
  background-color: rgb(16, 108, 33);

  border-radius: 10px;
}

.message-red {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  flex-grow: 1;
  padding: 0 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  height: 50px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  max-width: 300px;
  background-color: rgb(251, 39, 46);

  border-radius: 10px;
}
.tag-cloud {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
flex-direction:row;
}
body {
line-height: inherit;
padding: 24px;
display: flex;
flex-direction: column;
min-width: 100vw;
min-height: 100vh;
align-items: center;
justify-content: center;
}
.tag-card{
display:flex;
flex-direction:column;
/*justify-content:center;*/
border:1px solid rgba(42, 174, 188, 0.9);
border-radius:10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.tag-head{
display:flex;
flex-direction:row;
justify-content:end;
gap:10px;
padding:5px;
border-bottom:1px solid rgba(0, 0, 0, 0.2);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tag-title{
color:rgb(42, 174, 188);
font-weight:bold;
margin-right:auto;
}
.button-action{
display:flex;
column-gap:10px;
}
.tag-body-p{
margin:20px 10px 10px 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
display:flex;
flex-direction:column;
border-radius:10px;
}

.tag-body-e{
display:none;
margin:20px 10px 10px 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius:10px;
}

.tagged-people-list{
display:flex;
flex-direction:row;
padding:10px;
/*border-bottom:1px solid rgba(0, 0, 0, 0.2);*/
width:350px;
justify-content:start;
}

.tagged-people-list:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.delete-tag-person{
margin-left:auto;
}

.button-action svg{
fill:#524a4a;
}
.delete{
border:none;
width:28px;
height:28px;
padding:0px;
background-color:white;
}
.delete svg{
fill:#c91919;
}
.edit-form{
  display:flex;
  flex-direction:column;
  padding:10px;
  /*border-bottom:1px solid rgba(0, 0, 0, 0.2);*/
  width:350px;
  justify-content:start;
  align-items:center;
}
.edit-form button{
  background-color:rgba(42, 174, 188, 0.9);
  padding:10px;
  border-radius:10px;
  width:100px;
  border:none;
  color:white;
  font-weight:bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#no-tags{
  display:flex;
  flex-direction:column;
  gap:15px;
  border:1px solid rgb(42,174,188);
  box-shadow: 0px 5px 18px rgba(42, 174, 188, 0.4);
  padding:10px;
  border-radius:10px;
  align-items:center;
}
#no-tags p,h3{
  margin:0;
}
.have-tag-btn{
  border-radius:10px;
  padding:10px;
  background-color:rgb(21 138 150);
  border:none;
  font-weight:bold;
  color:white;
}
.have-tag-btn:hover{
  cursor:pointer;
  background-color:rgb(42,174,170);
}
{% endblock style %}


{% block content %}
{% if messages %}
{% for message in messages %}
{% if 'tag_deleted' in message.tags %}
<div class="message-red">
  <div class="message-icon"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
      fill="#FFFFFF">
      <path
        d="m338-290 142-142 142 142 48-48-142-142 142-142-48-48-142 142-142-142-48 48 142 142-142 142 48 48ZM479.68-59q-86.32 0-163.65-32.6-77.32-32.61-134.57-89.86T91.6-316.03Q59-393.35 59-479.86q0-87.41 32.66-164.28Q124.33-721 181.7-778.58q57.38-57.57 134.41-90.49Q393.15-902 479.34-902q87.55 0 164.83 32.85 77.29 32.85 134.57 90.3 57.29 57.46 90.27 134.52Q902-567.26 902-479.46q0 86.74-32.93 163.55-32.92 76.81-90.49 134.2Q721-124.33 644.13-91.66 567.26-59 479.68-59Z" />
    </svg></div>
  <div class="message-text">{{message}}</div>
</div>
{% elif 'tag_updated' in message.tags %}
<div class="message">
  <div class="message-icon"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
      fill="white">
      <path
        d="m419-285 291-292-63-64-228 228-111-111-63 64 174 175Zm60.68 226q-86.32 0-163.65-32.6-77.32-32.61-134.57-89.86T91.6-316.03Q59-393.35 59-479.86q0-87.41 32.66-164.28Q124.33-721 181.7-778.58q57.38-57.57 134.41-90.49Q393.15-902 479.34-902q87.55 0 164.83 32.85 77.29 32.85 134.57 90.3 57.29 57.46 90.27 134.52Q902-567.26 902-479.46q0 86.74-32.93 163.55-32.92 76.81-90.49 134.2Q721-124.33 644.13-91.66 567.26-59 479.68-59Z" />
    </svg></div>
  <div class="message-text">{{message}}</div>
</div>
{% endif %}
{% endfor %}
{% endif %}
<div class="right">
  <div class="tag-cloud">
    {% for tag in tags %}
    <div class="tag-card">
      <div class="tag-head">
        <div class="tag-title">{{ tag.tag }}</div>
        <div class="button-action">
          <div class="group" id="tag-people" onclick="showTagPerson({{ tag.id }})"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
              fill="#EA3323">
              <path
                d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
            </svg></div>
          <div class="edit" onclick="showEditField({{ tag.id }})"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
              viewBox="0 -960 960 960" width="24px" fill="red">
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
            </svg></div>
        </div>
      </div>

      <div class="tag-body-p" id="tag-person-{{ tag.id }}">
        console.log({{tag.id}})
        <!-- for loop for tags -->
        {% for person in taged_persons%}
         <!-- Assuming `name` is a field in the `Student` model -->
        {% if tag.tag == person.tag %}
        
        
        
        <div class="tagged-people-list">
          <div>{{ person.tag_person }}</div>
          <div class="delete-tag-person">
            <form method="post" action="{% url 'delete_person' person.id %}" style="display:inline;">
              {% csrf_token %}
              console.log({{person.id}})
              <button type="submit" class="delete"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                  viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                  <path
                    d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                </svg></button>
            </form>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        <!-- for loop for tags -->

      </div>
      <div class="tag-body-e" id="tag-edit-{{ tag.id }}">
        <form id="edit-form-{{ tag.id }}" class="edit-form" method="POST" action="{% url 'delete_tag' tag.id %}">
          {% csrf_token %}
          <input type="hidden" name="tag_id" value="{{ tag.id }}">
          <input type="text" name="new_tag" placeholder="New tag value" required>
          <button type="submit">Save</button>
        </form>
      </div>
    </div>
    {% empty %}
    <div id="no-tags">
        <h3>No Tags Still Now!!</h3>
        <img src="{% static 'images/eye-closed-turtle.jpeg' %}" width="120px" height="100px">

        <p class="text-sm font-medium mb-4"> Give a tag to your classmate or
          friend! </p>
        
          <button class="have-tag-btn" onclick="window.location='/search_student'"> Have a tag </button>
    </div>
    {% endfor %}
  </div>
</div>
<script>

  function showEditField(tagId) {
      const tagPerson = document.getElementById('tag-person-' + tagId);
      const tagEdit = document.getElementById('tag-edit-' + tagId);

      if (tagPerson) tagPerson.style.display = 'none';
      if (tagEdit) tagEdit.style.display = 'flex';
  }


  function showTagPerson(tagId) {
      const tagPerson = document.getElementById('tag-person-' + tagId);
      const tagEdit = document.getElementById('tag-edit-' + tagId);

      if (tagPerson) tagPerson.style.display = 'block';
      if (tagEdit) tagEdit.style.display = 'none';
  }
</script>

{% endblock content %}